<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.depth.quran.quran_indepth">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicons"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.activity.ExplorerActivity"
            android:label="Explorer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.activity.QuranChapterActivity"
            android:label="Quran Chapters"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.activity.QuranDetailsActivity"
            android:label="Quran Chapters"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.activity.QuranDictionaryActivity"
            android:label="Quran Dictionary"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activity.activity.BookmarksActivity"
            android:label="Bookmarks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.activity.StartTourActivity"
            android:label="Start Tour"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".activity.activity.AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.activity.SettingActivity"
            android:label="Setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.activity.QuranChapterArabicActivity"
            android:label="Setting"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.activity.AnalyzeQuranActivity"
            android:label="Analyze quran"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>